<div class="container is-mobile">       
    <div class="columns">
            <div class="column" style="text-align: center">
                <h3 class="title">{{ 'WELCOME' | translate }}</h3>
                <h4 class="subtitle">{{ 'TAGLINE' | translate }}</h4>
                <img src="https://image.flaticon.com/icons/svg/235/235394.svg" width="100em" style="margin-right: 1em;" />
            </div>
    </div>
    <div class="columns">
        <div class="column" style="text-align: center">
            <button class="button is-large" ui-sref="anime">
                <span class="icon is-medium">
                    <i class="fas fa-tv"></i>
                </span>
                <span>{{ 'ANIME' | translate }}</span>
            </button>
            <button class="button is-large" ui-sref="manga">
                <span class="icon is-medium">
                    <i class="fas fa-book"></i>
                </span>
                <span>{{ 'MANGA' | translate }}</span>
            </button>
        </div>
    </div>
</div>