<section class="hero dark-red" id="header">
    <div class="hero-body">
        <div class="container is-mobile">
            <a ui-sref="home">
                <!-- <h1 class="title is-1" style="text-align: center;">
                    Tanuki
                </h1> -->
                <div class="column" style="text-align: center">                    
                    <img src="https://image.flaticon.com/icons/svg/235/235394.svg" width="150rem" />
                </div>

                <h2 class="subtitle is-3" style="text-align: center;">
                    {{ 'TAGLINE' | translate }}
                </h2>
            </a>
            
        </div>
    </div>
</section>

<section class="section" id="content">
    <div class="container is-mobile">       
        <div class="columns">
            <div class="column" style="text-align: center">
                <div class="box">
                    <span class="icon" style="margin-top: 2em"><i class="fas fa-tv fa-3x"></i></span>
                    <h3 class="title is-3">{{ 'AIRING' | translate }}</h3>
                    <h4 class="subtitle is-4" style="margin-top: 2em">
                        Don't miss any show, your favourites are here!
                    </h4>
                    <button class="button is-info is-medium" ui-sref="airing">
                        {{ 'VIEW_SCHEDULE' | translate }}
                    </button>
                </div>
            </div>

            <div class="column" style="text-align: center">
                <div class="box">
                    <span class="icon" style="margin-top: 2em"><i class="fas fa-calendar-alt fa-3x"></i></span>
                    <h3 class="title is-3">{{ 'UPCOMING' | translate }}</h3>
                    <h4 class="subtitle is-4" style="margin-top: 2em">
                        Check new releases upcoming the next season!
                    </h4>
                    <button class="button is-info is-medium" ui-sref="upcoming">
                        {{ 'VIEW_SCHEDULE' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>