<section class="hero is-medium dark-red" id="header">
    <div class="hero-body">
        <div class="container is-mobile">
            <a ui-sref="home">
                <h1 class="title is-1" style="text-align: center;">
                    Tanuki
                </h1>

                <h2 class="subtitle is-3" style="text-align: center;">
                    {{ 'TAGLINE' | translate }}
                </h2>
            </a>
            
        </div>
    </div>
</section>

<section class="section" id="content">
    <div class="container is-mobile">       
        <div class="columns">
            <div class="column" style="text-align: center">
                <div class="box">
                    <span class="icon"><i class="fas fa-tv fa-3x"></i></span>
                    <h3 class="title is-3">{{ 'AIRING' | translate }}</h3>
                    <button class="button is-info is-medium" ui-sref="airing">
                        {{ 'VIEW_SCHEDULE' | translate }}
                    </button>
                </div>
            </div>

            <div class="column" style="text-align: center">
                <div class="box">
                    <span class="icon"><i class="fas fa-calendar-alt fa-3x"></i></span>
                    <h3 class="title is-3">{{ 'UPCOMING' | translate }}</h3>
                    <button class="button is-info is-medium" ui-sref="upcoming">
                        {{ 'VIEW_SCHEDULE' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<tanuki-footer></tanuki-footer>