<div class="container is-mobile" ng-init="vm.get()">
    <div class="columns" ng-if="!vm.ready">
        <div class="column is-centered loading">
            <span us-spinner></span>
        </div>
    </div>
    <div class="columns" ng-if="vm.ready">
        <div class="column is-full">
            <h5 class="title is-5">
                {{ 'THIS_WEEK_MANGA' | translate }} ({{ vm.weekStart | date: "dd/MM/yyyy" }} - {{ vm.weekEnd | date: "dd/MM/yyyy" }})
            </h5>
        </div>
    </div>
        
    <div class="columns" ng-if="vm.ready">
        <div class="column is-centered" ng-repeat="day in vm.week">
            <h3 class="ng-class: { today: vm.today == $index + 1 }"><strong>{{ day | capitalize }}</strong></h3>
            <div ng-repeat="anime in vm.animeWeek | dayFilter: day">
                <div class="tanuki-box">
                    <!-- <img ng-src="{{ anime.posterImage.tiny }}" /> -->
                    <a ng-href="https://kitsu.io/anime/{{anime.slug}}" target="_blank" class="anime-title">
                        <div>{{ anime.canonicalTitle }}</div>
                    </a>
                    <!-- <span class="info">Ep 4</span> -->
                </div>
            </div>
        </div>
    </div>
</div>