<div class="container is-mobile" ng-init="vm.get()">
    <div class="columns" ng-if="!vm.ready">
        <div class="column is-centered loading">
            <span us-spinner></span>
        </div>
    </div>
    <div class="columns" ng-if="vm.ready">
        <div class="column is-full">
            <h3 class="title is-3">
                {{ 'UPCOMING' | translate }}
            </h4>
        </div>
    </div>
        
    <div ng-repeat="a in vm.upcoming track by $index" ng-if="vm.ready">
        <div class="columns" ng-if="$index % 3 == 0">
            <div class="column">
                <div class="box" ng-hide="vm.upcoming[$index].attributes.titles == null">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-16x32">
                                <img ng-src="{{ vm.upcoming[$index].attributes.posterImage.tiny }}"  />
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content" style="min-height: 12vh;">
                                <a ng-href="https://kitsu.io/anime/{{ vm.upcoming[$index].attributes.slug }}">
                                    <h4 class="anime-title">{{ vm.upcoming[$index].attributes.canonicalTitle }}</h4>
                                </a>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <div class="level-item">
                                        <span class="tag is-info" style="margin-right: 0.3em" style="margin-right: 0.3em">
                                            {{ vm.upcoming[$index].attributes.subtype | capitalize }}
                                        </span> 
                                        {{ vm.upcoming[$index].attributes.startDate | date }}
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            </div>
            <div class="column">
                <div class="box" ng-hide="vm.upcoming[$index + 1].attributes.titles == null">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-16x32">
                                <img ng-src="{{ vm.upcoming[$index + 1].attributes.posterImage.tiny }}"  />
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content" style="min-height: 12vh;">
                                <a ng-href="https://kitsu.io/anime/{{ vm.upcoming[$index + 1].attributes.slug }}">
                                    <h4 class="anime-title">{{ vm.upcoming[$index + 1].attributes.canonicalTitle }}</h4>
                                </a>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <div class="level-item">
                                        <span class="tag is-info" style="margin-right: 0.3em" style="margin-right: 0.3em">
                                            {{ vm.upcoming[$index + 1].attributes.subtype | capitalize }}
                                        </span> 
                                        {{ vm.upcoming[$index + 1].attributes.startDate | date }}
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            </div>
            <div class="column">
                <div class="box" ng-hide="vm.upcoming[$index + 2].attributes.titles == null">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-16x32">
                                <img ng-src="{{ vm.upcoming[$index + 2].attributes.posterImage.tiny }}"  />
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content" style="min-height: 12vh;">
                                <a ng-href="https://kitsu.io/anime/{{ vm.upcoming[$index + 2].attributes.slug }}">
                                    <h4 class="anime-title">{{ vm.upcoming[$index + 2].attributes.canonicalTitle }}</h4>
                                </a>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <div class="level-item">
                                        <span class="tag is-info" style="margin-right: 0.3em" style="margin-right: 0.3em">
                                            {{ vm.upcoming[$index + 2].attributes.subtype | capitalize }}
                                        </span> 
                                        {{ vm.upcoming[$index + 2].attributes.startDate | date }}
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>