/* Place your CSS here */

html {
    background-color: #f7f7f7;
}

#header {
    background-color: rgb(64,47,63);
}

#header .title, #header .subtitle {
    color: white !important;
}

h3 {
    text-align: center;
}

.tanuki-box {
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 0.3em;
    padding: 0.3em;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    box-shadow: 0 2px 3px rgba(black, 0.4), 0 0 0 1px rgba(black, 0.4);
    background-color: white;
}

.tanuki-box img {
    border: 1px solid lightgray;
    border-radius: 0.3em;
    box-shadow: 0 2px 3px rgba(black, 0.4), 0 0 0 1px rgba(black, 0.4);
}

.column {
    word-wrap: break-word !important;    
}

.anime-title {
    color: #f75239;
    font-size: 16px;
    font-weight: 700;
}

.anime-title:hover {
    color: #f72909;
}

.today {
    background-color: #16a085;
    color: white;
    border-radius: 0.3em;
    box-shadow: 0 2px 3px rgba(black, 0.4), 0 0 0 1px rgba(black, 0.4);
}

.loading {
    height: 100%;
}