<footer class="footer">
    <div class="columns">
        <div class="column" style="text-align: center">                    
            <img src="https://image.flaticon.com/icons/svg/235/235394.svg" width="100em" />
        </div>
    </div>
    <div class="content has-text-centered">
            <p>
                <a href="http://github.com/JuanjoSalvador/tanuki">
                    <i class="fab fa-github fa-2x"></i>
                </a>
                <a href="http://twitter.com/Linuxneitor">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                <a href="https://www.patreon.com/wilus">
                    <i class="fab fa-patreon fa-2x"></i>
                </a>
            </p>
            <p>
                Created by <a href="http://juanjosalvador.me">Juanjo Salvador</a>. Powered by <a href="https://kitsu.io">Kitsu</a>.
                Icons by <a href="http://www.freepik.com" title="Freepik">Freepik</a> 
                from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.com</a> 
                with license <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>.
            </p>
    </div>
</footer>